body{
	font-family: 'Comfortaa', cursive;
	margin:0
}


/* Text Colour*/
.text-white{
	color: white;
}
.tag{
	background-color:#000;
	padding-left:8px;
	padding-right:8px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.icon-blue {
	color:#1F477F;
}


/* Text Size */
.text-18{
	font-size:18px
}
.text-24{
	font-size:24px
}
.text-30{
	font-size:30px
}
.text-48{
	font-size:48px
}


/* Text Postionoing */
.center-text{
	text-align:center
}


/* Text Spacing */
.wide-4{
	letter-spacing:4px
}
.wide-2{
	letter-spacing:2px
}
.wide-1{
	letter-spacing:1px
}


/* Text Decoration */
.bold{
	font-weight: bold;
}


/* Text Shadow */
.shadowtext{
	text-shadow: 2px 2px 5px #000000;
}


/* Presets */
.cybercitynetwork-footer{
	color: #000A19;
	font-size: 24px;
}


/* Padding */
.padding-15{
	padding-top:15px;
	padding-bottom:15px;
}
.padding-8-16{
	padding:8px 16px
}
.padding-20{
	padding-top:20px;
	padding-bottom:20px
}
.padding-25{
	padding-top:25px;
	padding-bottom:25px
}
.padding-40{
	padding-top:40px;
	padding-bottom:40px;
}
.padding-team{
	padding-top:10px;
	padding-bottom:280px;
}
.padding-64{
	padding-top:64px;
	padding-bottom:64px
}
.padding-320{
	padding-bottom:320px
}
.padding-390{
	padding-bottom:390px
}

/* Margin */
.margin-sides-20{
	margin-left: 100px;
	margin-right: 100px
}


/* Borders */
.underline-border{
	border-color:#1F477F
}
.bottombar{
	border-bottom:6px solid #1F477F
}


/* Colour Backgrounds */
.white{
	background-color:#fff;
}
.black{
	color:#fff;
	background-color:#000;
}


/* Buttons */
.button{
	border:none;
	padding:8px 16px;
	text-decoration:none;
	color:white;
	background-color:black;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}


/* Navbar */
.navbar{
	overflow: hidden;
	background-color: #1F477F;
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.3)
}
.navbar a{
	float: left;
	color: white;
	text-align: center;
	padding: 16px 18px;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 0.5px;
	transition: 0.7s;
}
.navbar a:hover{
	color: #CEE5EA;
	background-color: #0D214F;
}
.navbar a.active{
	background-color: #103356;
}
.navbar a.active:hover{
	background-color: #0D214F;
}
.sticky {
	position: sticky;
	top: 0;
	z-index: 1;
}


/* Articles */
.quarter{
  width:24.7%;
  float: left;
  margin-right: 2px;
  margin-left: 2px;
}
.card-image{
	height:180px;
}
.gallery{
	border: 1px solid white;
	background-color: #E5E6EA;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	transition: all 500ms;
}
.gallery img{
	width: 100%;
	height: 250px;
}
.desd-p{
	text-decoration: none;
	color: #0F273F;
	font-size: 20px;
}
.gallery:hover{
	background-color: #EDEFF2;
    box-shadow: rgba(15, 128, 204, 0.3) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-2px) scale(1.0);
}
.description{
	padding: 15px;
	text-align: center;
}


/* About */
.fifth{
	width:20%;
	float:left;
}
.circle{
	border-radius:50%;
	transition: 0.3s
}
.hover-circle:hover{
	opacity:0.7
}


/* Image Card */
.animate-opacity{
	animation:opac 1.7s
}
@keyframes opac{
	from{opacity:0}
	to{opacity:1}
}
.center {
	text-align: center;
	justify-content: center;
	align-items: center;
}
.cyber-color{
	color: #2BBBD8;
	text-shadow: 0px 2px 3px rgba(0,0,0, 0.9)
}


/* Scrollbar */
body::-webkit-scrollbar{
	width: 16px;
}
body::-webkit-scrollbar-track{
	background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
	border: 1px solid #041721;
	border-radius: 2px;
	background: #0D214F;
}
body::-webkit-scrollbar-thumb:hover{
	background: #1F477F;
}


/* Card-Contact */
.card-4{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.section{
	margin-top:16px;
	margin-bottom:16px
}
.input{
	padding:8px;
	border:none;
	border-bottom:1px solid #ccc;
	width:90%;
	margin-right: 20px
}
.card-content{
	margin-left:auto;
	margin-right:auto;
	padding:0.01em 16px;
}
.button-blue{
	color:#fff;
	background-color:#1F477F;
	transition: 0.6s
}
.button-blue:hover{
	background-color:#0D214F
}


/* Tab IDs */
#home{
	background-image: url(../images/home-card.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 230px;
	color:white;
	text-shadow: 2px 2px 5px #000000;
}
#articles{
	background-image: url(../images/articles.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 230px;
	color:white;
	text-shadow: 2px 2px 5px #000000;
}
#contact{
	background-image: url(../images/city.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 230px;
	color:white;
	text-shadow: 2px 2px 5px #000000;
}
#team{
	background-image: url(../images/team.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 220px;
	color:white;
}
#article1{
	background-image: url(../images/article1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 220px;
	color:white;
}